@charset "UTF-8";
/* ----- présentation ----- */
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  height: 285px;
  font-family: roboto;
  font-size: small;
}

.presentationUne {
  font-weight: bold;
  font-family: roboto-bold;
  font-size: 1.8em;
  width: 75%;
  text-align: center;
  margin: 0 auto 15px auto;
}

.presentationDeux {
  width: 80%;
  text-align: center;
  font-size: 1.3em;
  margin: 0 auto 30px auto;
}

.titreChapitre {
  font-family: roboto-bold;
  margin-left: 10px;
}

/* ********** partie fonctionnement ********** */
.fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fonctionnementCadre {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  max-width: 325px;
  min-width: 260px;
  height: 75px;
  font-family: roboto-med;
  margin-bottom: 15px;
  box-shadow: 0.3em 0.3em 0.3em #ededed;
}
.fonctionnementCadre .fonctionnementCadreLogo {
  opacity: 0.5;
}
.fonctionnementCadre:hover {
  background-color: #f5edff;
}
.fonctionnementCadre:hover .fonctionnementCadreLogo {
  opacity: 1;
  color: #9356dc;
}

.fonctionnementCadreLigne {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 270px;
  margin-left: -20px;
}

.fonctionnementNumero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #9356dc;
  font-size: 15px;
  color: white;
}

/* ********** les boites des restaurants ********** */
.listeRestaurant {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.listeRestaurant a {
  text-decoration: none;
  color: black;
}
.listeRestaurant .boiteRestaurant {
  width: 335px;
  height: 250px;
  background-color: white;
  margin: 0 auto 20px auto;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
}
.listeRestaurant .boiteRestaurant .boiteRestaurantImagePosition {
  position: relative;
}
.listeRestaurant .boiteRestaurant .boiteRestaurantImage {
  height: 175px;
  width: 335px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.listeRestaurant .boiteRestaurantImages {
  margin-top: -40px;
  width: 100%;
}
.listeRestaurant .boiteRestaurantImagesPlus {
  margin-top: -45%;
  width: 100%;
}
.listeRestaurant .BoiteRestaurantTitre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px 0 15px;
}
.listeRestaurant .BoiteRestaurantTitreGauche {
  display: flex;
  flex-direction: column;
  font-family: roboto;
}
.listeRestaurant .BoiteRestaurantLigne {
  font-family: roboto-bold;
  font-size: 1em;
  font-weight: bold;
}
.listeRestaurant .nouveau {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 20px;
  font-family: roboto-bold;
  font-size: 15px;
  background-color: #99e2d0;
  color: #008766;
  width: 80px;
  height: 30px;
  border-radius: 3px;
}

/* ********** images présentation des autres pages ********** */
.imageEntete {
  height: 260px;
  width: 100%;
  z-index: 0;
}

/* ********** menu des autres pages ********** */
.menuPage {
  position: relative;
  background-color: #f6f6f6;
  margin-top: -40px;
  border-radius: 30px 30px;
  z-index: 1;
}

.titreMenu {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 15px;
}

.titreMenuGauche {
  font-family: Shrikhand;
  font-size: 1.5em;
}

@media (min-width: 968px) {
  .GrandEcranRestaurant {
    width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
#entete,
#main,
#pied {
  animation: animationEntree 3s;
}
#entete::before,
#main::before,
#pied::before {
  opacity: 0px;
  transition-delay: 3s;
}
#entete::after,
#main::after,
#pied::after {
  opacity: 1px;
}

@keyframes animationEntree {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#chargement {
  position: relative;
  opacity: 0;
  animation: chargementEntree 2s;
  transition-delay: 2s;
  z-index: -1;
}
#chargement::after {
  display: none;
}

@keyframes chargementEntree {
  from {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.loaderEntree {
  opacity: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.loaderEntree::before, .loaderEntree::after {
  content: "";
  position: absolute;
  border: 3px solid #9356DC;
  border-radius: 4em;
}
.loaderEntree::before {
  width: 30px;
  height: 30px;
  border-bottom-color: transparent;
  animation: animate-inner 1.4s linear infinite;
}
.loaderEntree::after {
  width: 60px;
  height: 60px;
  border-top-color: transparent;
  animation: animate-outer 1.8s linear infinite;
}

@keyframes animate-inner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animate-outer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
body {
  margin: auto;
  max-width: 1024px;
  font-family: roboto-med;
}

a {
  text-decoration: none;
}

@media (min-width: 600px) {
  body {
    margin: auto;
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url("police/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("police/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("police/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-med";
  src: url("police/Roboto-Medium.ttf") format("truetype");
}
.coeur {
  font-size: 1.4em;
  margin-right: 30px;
}

.animeCoeur .coeurAnime {
  display: none;
}

.animeCoeur:hover .coeurCacher {
  display: none;
}

.animeCoeur:hover .coeurAnime {
  display: inline;
}

.coeurAnime {
  display: none;
  background: linear-gradient(to right top, white 0%, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  animation: Animation 1s ease;
}

@keyframes Animation {
  0% {
    background: linear-gradient(to right top, white 100%, #9356DC 0%, #FF79DA 0%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  10% {
    background: linear-gradient(to right top, white 90%, #9356DC 10%, #FF79DA 10%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: linear-gradient(to right top, white 80%, #9356DC 20%, #FF79DA 20%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: linear-gradient(to right top, white 70%, #9356DC 30%, #FF79DA 30%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: linear-gradient(to right top, white 60%, #9356DC 40%, #FF79DA 40%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(to right top, white 50%, #9356DC 50%, #FF79DA 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: linear-gradient(to right top, white 40%, #9356DC 60%, #FF79DA 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: linear-gradient(to right top, white 30%, #9356DC 70%, #FF79DA 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: linear-gradient(to right top, white 20%, #9356DC 80%, #FF79DA 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: linear-gradient(to right top, white 10%, #9356DC 90%, #FF79DA 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(to right top, white 0%, #9356DC 100%, #FF79DA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/* ********** boites des plats ********** */
@keyframes cacheBoite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animeBoite {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  50% {
    opacity: 0.7;
  }
  to {
    width: 100%;
  }
}
@keyframes reductionBoite {
  from {
    width: 350px;
  }
  to {
    width: 290px;
  }
}
@keyframes animeSelect {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.boiteMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: 350px;
  min-width: 300px;
  background-color: white;
  border-radius: 20px;
  margin: 0 auto 10px auto;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.boiteMenu:hover .selection {
  transform: translate(-59px, 0vh);
}
.boiteMenu:hover .selectionRoule {
  animation-duration: 800ms;
  animation-name: animeSelect;
}
.boiteMenu:hover > .menuPlat {
  animation-name: reductionBoite;
  width: 290px;
}
.boiteMenu .selection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 60px;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  color: white;
  font-size: 1.3em;
  transition: transform 500ms ease-in-out;
  margin-right: -60px;
}
.boiteMenu .descriptionPoints {
  ddwhite-space: nowrap;
  doverflow: hidden;
}
.boiteMenu:hover .descriptionPoints {
  overflow: hidden;
  white-space: nowrap;
  width: 215px;
  text-overflow: ellipsis;
}

.menuPlat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  width: 100%;
  transition: all 500ms;
}
.menuPlat .platLigneTitre {
  font-family: roboto-bold;
  padding-left: 15px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuPlat .platLignePrix {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-family: roboto;
  padding: 0 15px;
  font-size: 15px;
}
.menuPlat .platLignePrix .prix {
  width: 40px;
  margin-left: 5px;
  font-family: roboto-bold;
}

.boitesMenuPlat {
  display: flex;
  flex-direction: column;
}

.menuPageTitre {
  margin-left: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: solid #99e2d0;
  width: 40px;
}

.menuPageTitreP {
  padding-top: 30px;
}

.cacheE2 {
  animation-duration: 400ms;
}

.cacheE3 {
  animation-duration: 800ms;
}

.cacheE2,
.cacheE3 {
  animation-name: cacheBoite;
}

.menuPlatE1,
.menuPlatE2,
.menuPlatE3 {
  animation-duration: 800ms;
  animation-name: animeBoite;
}

@media (min-width: 600px) {
  .titreMenu {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .menuPageTitre {
    margin-left: 25%;
  }

  .menuPage {
    border-radius: 0;
  }
}
@media (width: 320px) {
  .titreMenu {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .menuPageTitre {
    margin-left: 25%;
  }

  .menuPage {
    border-radius: 0;
  }
}
.presentationBouton {
  display: flex;
  justify-content: center;
}

.presentationBoutonGraph {
  border: 0;
  height: 50px;
  border-radius: 30px;
  padding: 0 20px 0 20px;
  font-family: roboto-med;
  color: white;
  font-size: 1.1em;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.33);
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
.presentationBoutonGraph:hover {
  box-shadow: 2px 2px 10px 7px rgba(0, 0, 0, 0.33);
  transition: all 0.4s ease;
  cursor: pointer;
  opacity: 0.9;
}

.presentationBoutonGraphPosition {
  display: flex;
  align-items: center;
}

.presentationBoutonGraphMenu {
  width: 185px;
  margin: 30px auto 80px auto;
}

.titrePage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  font-family: Shrikhand;
  font-size: 1.8em;
  font-weight: 100;
}
.titrePage .titrePageFleche {
  font-size: 0.6em;
  position: absolute;
  left: 30px;
  color: #353535;
}
.titrePage .titrePageLien {
  margin-top: -20px;
}
.titrePage .titrePageImage {
  width: 160px;
}

.lieu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  background-color: #e9e9e9;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1) inset;
  height: 50px;
  width: 100%;
  font-weight: bold;
}

footer {
  background-color: #353535;
  height: 195px;
  color: white;
  padding: 15px 0 0 20px;
}
footer .footerTitre {
  font-family: Shrikhand;
  font-size: 1.2em;
  font-weight: 100;
  padding-bottom: 10px;
}
footer .footerMenu {
  list-style: none;
  font-family: roboto;
  font-size: 1em;
  font-weight: bold;
  padding-left: 0;
}
footer .footerMenu li {
  padding-bottom: 10px;
}
footer .footerContact {
  color: white;
}
footer .tailleImagePied {
  width: 25px;
  font-size: 0.75em;
}

@media (max-width: 340px) {
  .listeRestaurant .boiteRestaurant {
    width: 280px;
  }
  .listeRestaurant .boiteRestaurant .boiteRestaurantImage {
    width: 280px;
  }
}

/*# sourceMappingURL=style.css.map */
