@font-face {
    font-family: 'Shrikhand';
    src: url('police/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('police/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('police/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-med';
    src: url('police/Roboto-Medium.ttf') format('truetype');
}