#entete,
#main,
#pied {
    animation: animationEntree 3s;
    &::before {
        opacity: 0px;
        transition-delay: 3s;
    }
    &::after {
        opacity: 1px;
    }
}

@keyframes animationEntree {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#chargement {
    position: relative;
    opacity: 0;
    animation: chargementEntree 2s;
    transition-delay: 2s;
    z-index: -1;
    &::after {
        display: none;
    }
}

@keyframes chargementEntree {
    from {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.loaderEntree {
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    &::before,
    &::after {
        content: '';
        position: absolute;
        border: 3px solid $boutonSecondaire;
        border-radius: 4em;
    }
    &::before {
        width: 30px;
        height: 30px;
        border-bottom-color: transparent;
        animation: animate-inner 1.4s linear infinite;
    }
    &::after {
        width: 60px;
        height: 60px;
        border-top-color: transparent;
        animation: animate-outer 1.8s linear infinite;
    }
}

@keyframes animate-inner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes animate-outer {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}