$grisf: #353535;
$couleurFondPlats:#f6f6f6;
$couleurFondPlat:white;
$boutonPrimaire:#FF79DA;
$boutonSecondaire:#9356DC;
$soulignerTitreMenu:#99e2d0;
$policeTexte:roboto;
$policeTexteG:roboto-bold;
$policeTexteM:roboto-med;
$policeTitre:Shrikhand;