   /* ----- présentation ----- */
   
   .presentation {
       display: flex;
       flex-direction: column;
       justify-content: center;
       background-color: #f6f6f6;
       height: 285px;
       font-family: $policeTexte;
       font-size: small;
   }
   
   .presentationUne {
       font-weight: bold;
       font-family: $policeTexteG;
       font-size: 1.8em;
       width: 75%;
       text-align: center;
       margin: 0 auto 15px auto;
   }
   
   .presentationDeux {
       width: 80%;
       text-align: center;
       font-size: 1.3em;
       margin: 0 auto 30px auto;
   }
   
   .titreChapitre {
       font-family: $policeTexteG;
       margin-left: 10px;
   }
   /* ********** partie fonctionnement ********** */
   
   .fonctionnement {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   
   .fonctionnementCadre {
       display: flex;
       align-items: center;
       border-radius: 20px;
       background-color: #f6f6f6;
       max-width: 325px;
       min-width: 260px;
       height: 75px;
       font-family: roboto-med;
       margin-bottom: 15px;
       box-shadow: 0.3em 0.3em 0.3em #ededed;
       .fonctionnementCadreLogo {
           opacity: .5;
       }
       &:hover {
           background-color: #f5edff;
       }
       &:hover .fonctionnementCadreLogo {
           opacity: 1;
           color: #9356dc;
       }
   }
   
   .fonctionnementCadreLigne {
       display: flex;
       align-items: center;
       justify-content: space-around;
       width: 270px;
       margin-left: -20px;
   }
   
   .fonctionnementNumero {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 25px;
       height: 25px;
       border-radius: 25px;
       background-color: #9356dc;
       font-size: 15px;
       color: white;
   }
   /* ********** les boites des restaurants ********** */
   
   .listeRestaurant {
       background-color: #f6f6f6;
       padding-bottom: 50px;
       a {
           text-decoration: none;
           color: black;
       }
       .boiteRestaurant {
           width: 335px;
           height: 250px;
           background-color: white;
           margin: 0 auto 20px auto;
           border-radius: 20px;
           box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, .1);
           .boiteRestaurantImagePosition {
               position: relative;
           }
           .boiteRestaurantImage {
               height: 175px;
               width: 335px;
               overflow: hidden;
               border-radius: 20px 20px 0 0;
           }
       }
       .boiteRestaurantImages {
           margin-top: -40px;
           width: 100%;
       }
       .boiteRestaurantImagesPlus {
           margin-top: -45%;
           width: 100%;
       }
       .BoiteRestaurantTitre {
           display: flex;
           justify-content: space-between;
           align-items: center;
           padding: 15px 25px 0 15px;
       }
       .BoiteRestaurantTitreGauche {
           display: flex;
           flex-direction: column;
           font-family: $policeTexte;
       }
       .BoiteRestaurantLigne {
           font-family: $policeTexteG;
           font-size: 1em;
           font-weight: bold;
       }
       .nouveau {
           position: absolute;
           display: flex;
           justify-content: center;
           align-items: center;
           right: 20px;
           top: 20px;
           font-family: $policeTexteG;
           font-size: 15px;
           background-color: #99e2d0;
           color: #008766;
           width: 80px;
           height: 30px;
           border-radius: 3px;
       }
   }
   /* ********** images présentation des autres pages ********** */
   
   .imageEntete {
       height: 260px;
       width: 100%;
       z-index: 0;
   }
   /* ********** menu des autres pages ********** */
   
   .menuPage {
       position: relative;
       border-radius: 40px 40px 0 0;
       background-color: $couleurFondPlats;
       margin-top: -40px;
       z-index: 1;
   }
   
   .titreMenu {
       display: flex;
       justify-content: space-between;
       padding-top: 30px;
       padding-bottom: 30px;
       margin-left: 15px;
   }
   
   .titreMenuGauche {
       font-family: $policeTitre;
       font-size: 1.5em;
   }