/* ********** boites des plats ********** */

@keyframes animeBoite {
    from {
        opacity: 0;
        margin-top: 30px;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    to {
        width: 100%;
    }
}

@keyframes reductionBoite {
    from {
        width: 350px;
    }
    to {
        width: 290px;
    }
}

@keyframes animeSelect {
    from {
        transform: rotate(-190deg);
    }
    to {
        transform: rotate(190deg);
    }
}

.boiteMenu {
    display: flex;
    justify-content: space-between;
    height: 70px;
    max-width: 350px;
    min-width: 300px;
    background-color: $couleurFondPlat;
    border-radius: 20px;
    margin: 0 auto 10px auto;
    box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, .2);
    overflow: hidden;
     :hover+.selection {
        transform: translate(-59px, 0vh)
    }
    .platLigneTitre {
        font-family: $policeTexteG;
        padding-left: 15px;
    }
    .platLignePrix {
        display: flex;
        justify-content: space-between;
        font-family: $policeTexte;
        padding: 0 15px;
        .prix {
            font-weight: bold;
        }
    }
    .menuPlat {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 350px;
        width: 100%;
        &:hover {
            animation-duration: 500ms;
            animation-name: reductionBoite;
            width: 290px;
        }
    }
    .selection {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 60px;
        border-radius: 0 20px 20px 0;
        background-color: #99E2D0;
        color: white;
        font-size: 1.3em;
        transition: transform 500ms ease-in-out;
        margin-right: -60px;
    }
    .selectionRoule {
        transform: rotate(-190deg);
    }
     :hover+.selectionRoule {
        animation-duration: 500ms;
        animation-name: animeSelect;
        transform: rotate(0deg);
    }
}

.boitesMenuPlat {
    display: flex;
    flex-direction: column;
}

.menuPageTitre {
    margin-left: 15px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: solid $soulignerTitreMenu;
    width: 40px;
}

.menuPageTitreP {
    padding-top: 30px;
}

.menuPlatE1 {
    animation-delay: 0s;
    animation-duration: 2s;
    animation-name: animeBoite;
}

.menuPlatE2 {
    animation-delay: 2s;
    animation-duration: 2s;
    animation-name: animeBoite;
}

.menuPlatD {
    animation-delay: 4s;
    animation-duration: 4s;
    animation-name: animeBoite;
}

@media (min-width: 600px) {
    .imageEnteteLarge {
        margin: auto;
        max-width: 60%;
    }
    .titreMenu {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .menuPageTitre {
        margin-left: 25%;
    }
}